<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/quake2-gwt-port/GwtQuakeServer.lanuch"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/quake2-gwt-port/src/com/googlecode/gwtquake/server/GwtQuakeServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.googlecode.gwtquake.server.GwtQuakeServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="quake2-gwt-port"/>
</launchConfiguration>
